body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #005a9c;
  }
  
  a:hover {
    text-decoration: underline;
  }