h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  ul {
    margin: 20px auto;
    width: 80%;
  }
  
  li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  h2 {
    color: #005a9c;
  }